#FotoDePerfil{
    margin-top: -100px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border: solid #fdfdfdef 2px;
    box-shadow: 0px 0px 10px #2317c0;
}
#banner{
    width: stretch;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    box-shadow: -1px -1px -10px #ff9355b0;
    border: solid #474747ef 1px;
}
#bannerEdit{
    float: right;
    margin-right: 10px;
}

#datosPersonales{
    height: 50%;
}

@media (max-width:700px) {
    #FotoDePerfil{
        width: 120px;
        height: 120px;
    }
    h1{
        font-size: 18px;
    }
    h5{
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }
    #banner{
        height: 135px;
    }
}
section{
    background-color: rgba(14, 13, 13, 0.06); 
    border: solid #fde6d8 0.2px;
    box-shadow: inset 0px 0px 10px 0px #2317c0,0px 0px 5px 0px #2317c0, 0px 20px 40px 0px #beb9ff2c;
    z-index: 1;
}