<div class="row">
    <div>
        <h1 class="text-center">Hard & Soft skills</h1>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress [percent]="50" [imageSrc]="'/assets/iconos/CSS.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="60" [imageSrc]="'/assets/iconos/html.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="40" [imageSrc]="'/assets/iconos/js.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="20" [imageSrc]="'/assets/iconos/git.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="75" [imageSrc]="'/assets/iconos/eng.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="70" [imageSrc]="'/assets/iconos/grupal.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="70" [imageSrc]="'/assets/iconos/angular.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="50" [imageSrc]="'/assets/iconos/java.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="55" [imageSrc]="'/assets/iconos/bootstrap.png'" [showImage]="true" [imageWidth]="80" [imageHeight]="80" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
</div>