#foto{
    width: 18px;
    height: 18px;
}
section{ 
    border: transparent;
    z-index: 1;
    background: transparent;
    color:white;
}
li{
    border: transparent;
    background: transparent;
    margin: 10px;
    color:white;
}
i{
    margin: 5px;
    color: white;
}

#imgSkills{
    border-radius: 50%;
    height:90px;
    width:110px;
    
}
@media (max-width:700px) {
    
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 12px;
    }
    
}