<div class="row">
    <div>
        <h1 class="text-center">Habilidades</h1>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress [percent]="20" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="20" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="20" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="20" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="20" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="20" [radius]="80" [outerStrokeWidth]="10" [title]="'HTML'" [showUnits]="false"
            [innerStrokeWidth]="2" [outerStrokeColor]="'black'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
</div>