#logoExperiencia{
    width: 180px;
    height: 100px;
    object-fit: contain;   
}

i{
    color:#e7e7e7;
}
@media (max-width:700px) {
    #logoExperiencia{
        width: 25%;
        height: 25%;
        object-fit: contain;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 12px;
    }
}

section{
    background-color: rgba(14, 13, 13, 0.06); 
    border: solid #fde6d8 0.2px;
    box-shadow: inset 0px 0px 10px 0px #2317c0,0px 0px 5px 0px #2317c0, 0px 20px 40px 0px #beb9ff2c;
    z-index: 1;
}