#logoExperiencia{
    width: 180px;
    height: 100px;
    object-fit: contain;   
}

i{
    color:#e7e7e7;
    margin: 5px;
}
@media (max-width:700px) {
    #logoExperiencia{
        width: 25%;
        height: 25%;
        object-fit: contain;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 12px;
    }
}

section{
    border: transparent;
    z-index: 1;
    background: transparent;
    color: white;
}

li{
    border: transparent;
    background: transparent;
    margin: 10px;
    color: white;
}