<div class="row">
    <h1>Experiencia</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Trabajo 1</h2>-<h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa id veritatis harum est quibusdam qui dolor. Ab quasi rerum maiores mollitia odio, repellat asperiores, consequatur provident labore architecto voluptatum amet.
            </p>
            <li>
                <h2>Trabajo 2</h2>-<h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa id veritatis harum est quibusdam qui dolor. Ab quasi rerum maiores mollitia odio, repellat asperiores, consequatur provident labore architecto voluptatum amet.
            </p>
            <li>
                <h2>Trabajo 3</h2>-<h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa id veritatis harum est quibusdam qui dolor. Ab quasi rerum maiores mollitia odio, repellat asperiores, consequatur provident labore architecto voluptatum amet.
            </p>
        </ul>
    </div>
</div>
